<nav class="navbar">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="brand"
  >Tiwikom</a>

  <div class="links">
    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Home</a>

    <a
      routerLink="/post-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Posts</a>

    <a
      routerLink="/admin"
      *ngIf="isLoggedIn()"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Admin</a>

    <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>

    <a
      *ngIf="!isLoggedIn()"
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Login</a>
  </div>
</nav>
